<!-- your html code here -->
<div class="container-fluid">
    <div class="row bg-light p-5 justify-content-center">
        <div class="col-8 mt-1">
            <div class="d-flex">
                <h1>This First Heading<span class="text-secondary ms-2">Will Catch You Eyed</span></h1>
            </div>
            <div class="fs-4 bg-light">
                <p>Donec ullamcorper nulla non metus auctor fringila. Vestibulum id ligula porta felis semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commmodo.</p>
            </div>
        </div>
        <div class="col-4">
            <img src="/website/assets/img/1.jpg" class="rounded-circle" width="400" height="400" alt="...">
        </div>
    </div>
</div>