<!-- your html code here -->
<div class="container mb-5">
    <div class="row">
        <div class="col-8">
                <h1>This First Heading <span class="text-secondary">Will Catch You Eyed</span></h1>
                <p>Donec ullamcorper nulla non metus auctor fringila. Vestibulum id ligula porta felis semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commmodo.</p>
        </div>
        <div class="col-3">
            <img src="/website/assets/img/1.jpg" class="rounded-circle float-start" width="300" height="300" alt="...">
        </div>
    </div>