<div class="container bg-white">

    <div class="row d-flex justify-content-center ps-3 ">

        <h2 class="text-start">Porfolio</h2>
    
    </div>


    <div class="row d-flex justify-content-center ps-3 " ">

        <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt eos commodi delectus, quia quis porro accusantium veniam repellat sit reprehenderit similique molestias, deleniti beatae. Necessitatibus ratione libero doloribus in pariatur?.</p>
    
    </div>

<div class="row d-flex justify-content-center m-0 p-0 ">

    <div class="row row-cols-1 row-cols-md-3 g-4 m-0 p-0">
    <div class="col m-0 ">
      <div class="card border-0">
        <img src="https://i.picsum.photos/id/154/700/400.jpg?hmac=94SYa8tIkdogvH7FEQRrSGt3C_ix1KTyvsyvWdL1yP0" class="card-img-top" alt="...">
        <div class="card-body p-0 pt-2" >
          <h5 class="card-title text-primary pt-2">Project Name</h5>
          <p class="card-text fs-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error saepe nobis, dolores deserunt minus ratione blanditiis explicabo reiciendis porro vero mollitia voluptas voluptate veniam aspernatur voluptatibus? Commodi similique ad in?</p>
        </div>
      </div>
    </div>
    <div class="col m-0">
      <div class="card border-0">
        <img src="https://i.picsum.photos/id/154/700/400.jpg?hmac=94SYa8tIkdogvH7FEQRrSGt3C_ix1KTyvsyvWdL1yP0" class="card-img-top" alt="...">
        <div class="card-body p-0 pt-2">
            <h5 class="card-title text-primary pt-2">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, error! Officia et esse blanditiis eveniet ex iusto eius explicabo sit! Necessitatibus vitae, alias iusto incidunt corporis quo neque quis pariatur.</p>
        </div>
      </div>
    </div>
    <div class="col m-0">
      <div class="card border-0">
        <img src="https://i.picsum.photos/id/154/700/400.jpg?hmac=94SYa8tIkdogvH7FEQRrSGt3C_ix1KTyvsyvWdL1yP0" class="card-img-top" alt="...">
        <div class="card-body p-0 pt-2">
          <h5 class="card-title text-primary pt-2">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit dolor fugit aliquam illo libero et odio veniam quaerat neque repellendus nobis porro qui possimus error doloremque quo officia, sed magnam.</p>
        </div>
      </div>
    </div>

  </div>

   
</div>



</div>