<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="/website/assets/img/2.jpg" class="rounded-circle float-start" alt="...">
        </div>
        <div class="col">
            <h1>
                The Second Heading <span class="text-muted">is Pretty Cool Too</span>
            </h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet illum ducimus rerum quo possimus
                facilis rem, ea, quidem tempora perspiciatis soluta animi libero maiores nulla. Corrupti corporis nobis
                molestias aperiam?</p>
        </div>
    </div>
</div>